<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML app</title>
</head>
<body>
    <h1>Predict Iris-Flower Class</h1>
    <form action="/preds" method="post">
        <label for="">Feature 01</label>
        <input type="text" name="feature-1-field", id="feature-1-field">
        <label for="">Feature 02</label>
        <input type="text" name="feature-2-field", id="feature-2-field">
        <label for="">Feature 03</label>
        <input type="text" name="feature-3-field", id="feature-3-field">
        <label for="">Feature 04</label>
        <input type="text" name="feature-4-field", id="feature-4-field">
        <input type="Submit">
    </form>
</body>
</html>